<template>
  <v-container>
    <v-layout>
      <v-flex>
        <h1 class="display-1">About Page</h1>
      </v-flex>
      <v-flex class="ml-2 mr-2">
        <v-btn to="/"
               block
               color="accent"
               nuxt
        >
          I want to go BAAACK
        </v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({});
</script>
