<template>
  <v-container class="ma-0 pa-0">
    <v-layout>
      <v-flex class="ml-2 mr-2">
        <v-btn block
               color="accent"
               nuxt
               to="/about">
          Go to About Page
        </v-btn>
      </v-flex>
      <v-flex v-if="!isAuthenticated"
              class="ml-2 mr-2"
      > 
        <v-btn block
               color="accent"
               nuxt
               to="/auth/sign-in">
          Identify Your self HOOMAN
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex v-if="isLoggedIn()">
        <the-user-list :users="users" />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import { NuxtContext } from 'nuxt';
import { Component, Vue } from 'nuxtjs-extensions';
import TheUserList from '../components/TheUserList.vue';
import { mapGetters }  from 'vuex';

@Component({
  middleware:['auth'],
  components: {
    TheUserList,
  },
  methods:{
   isLoggedIn() {
    console.log('hey');
      return true;
    },
  },
  computed: mapGetters([
    'isAuthenticated',
    'loggedUser'
  ])
})
export default class extends Vue {
  async asyncData({ app }: NuxtContext) {

    const { results } = await app.$axios.$get('/api/users');

    return { users: results };
  }
}
</script>
