<template>
  <v-container class="ma-0 pa-0">
    <v-layout>sd</v-layout>
  </v-container>
</template>

<script lang="ts">
  import Vue from 'vue';

  export default Vue.extend({
    data(){
      console.log(this.$route);

    },
    middleware: ['auth'],
    methods:{

    }
  });
</script>
