<template>
  <v-container class="ma-0 pa-0">
    <v-layout>
    </v-layout>
    <v-layout>
      <v-flex>
        
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({});
</script>