<template>
  <v-app>
    <v-toolbar app
               color="primary"
               dark>
      <v-toolbar-title>Nuxt TS Starter</v-toolbar-title>
      <v-spacer/>
      <v-btn
        color="info"
        @click="registerUser()">
        Register
      </v-btn>
      <v-btn
        flat
        small
        color="success"
        @click="loginUser()">
        Login
      </v-btn>

    </v-toolbar>
    <v-content>
      <nuxt/>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  data(){
    return {
      dialog: false
    };
  },
  middleware: ['auth'],
  methods:{
    /**
     *
     */
    async loginUser(){
      this.auth.loginWith('auth0');
      // this.$store.state.auth.loginWith('auth0');
    },
    /**
     *
     */
    registerUser() {
      console.log(this);
      // if ( this.$store.state.auth.loggedIn === false){
      //
      // }
      // this.$store.$auth.loginWith('auth0');
    },

  }
});
</script>

